.mb-4 {
    margin-bottom: 1.5rem;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.news-detail-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.align-items-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}
.d-flex {
    display: flex;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-primary {
    color: #007bff;
    font-size: 25px;
}
.mb-0{
    margin-bottom: 5px;
}
.text-dark {
    color: #343a40;
    font-size: 15px;
    font-weight: 600
}
.text-muted {
    color: #6c757d;
    margin-bottom: 10px;
}
.mb-auto {
    margin-bottom: 15px;
}
.btn-sm {
    padding: .25rem .5rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
.card-img-right{
    width: 50%;
    max-height: 400px;
}