.news-article {
    min-height: 380px;
}
#news-search{
    display: contents;
}
#imaginary_container{
    margin-bottom:5%;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.input-group-addon{
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #007bff;
}
.stylish-input-group button{
    background:transparent;
    border: 0px;
}
.empty-result {
    color: #007bff;
    font-size: 25px;
}
#news-search input{
    font-size: 22px;
    height: 50px;
    border: 1px solid #007bff;
}