<div class="row">
    <div class="col-md-12" style="padding-left: 0px;">
        <div class="col-md-12" style="padding-left: 0px;">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <form id="news-search" ng-submit="filterNews($event)">
                        <input type="text" class="form-control" placeholder="Search news..." ng-model="searchText" >
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if="!noResult">
        <div class="col-md-3 news-article" ng-repeat="news in newsList">
           <news-card news = "news"></news-card>
        </div>
    </div>
    <div class="col-md-12" ng-if="noResult">
        <span class="empty-result">No result found for the searched keyword <b>{{searchText}}</b></span>
    </div>
</div>